<ion-view view-title="About">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-divider text-center">
        <h1>Todo App!</h1>
      </div>
      <div class="item text-center item-text-wrap">
        version 1.0
        <br/>
        <br/> designed & developed by
        <br/> Justin James
        <br/>
        <br/> Built using:
        <br/> JavaScript, AngularJS, Cordova, & Ionic
        <br/>
        <br/>
      </div>
    </div>
  </ion-content>
</ion-view>